@media (prefers-color-scheme: dark) {
    body{
        background-color: rgb(30, 33, 36);
        color: white;
    }

    a, a:hover{
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body{
        background-color: rgb(238, 238, 238);
        color: black;
    }

    a, a:hover{
        color: black;
    }
}

#body {
    margin-top: 2vw;
    min-width: 95vw;
}

.gridSize {
    text-align: end;
    width: 80px;
}

#board td{
    border: 1px solid black;
    min-width: 25px;
    width: 25px;
    height: 25px;
}

#gridPrview {
    overflow: auto;
}

#body {
    width: 95vw;
    margin-left: 5px;
}

#legend .unvisited {
    border: 1px solid black;
    min-width: 25px;
    width: 25px;
    height: 25px;
}

#legend {
    margin-bottom: 2vw;
}

.list-group {
    margin-bottom: 2vw;
}