.controlIcon {
    border-radius: 7px;
    border: 1px solid gray;
    background-color: #1ABFED;
    padding: 2px;
    vertical-align: middle;
}

img.controlIcon.disabled {
    background-color: gray !important;
}

#gridPreview .visited {
    background-image: url("./icons/square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}

#gridPreview .pathUp {
    background-image: url("../icons/arrow-up-square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}

#gridPreview .pathDown {
    background-image: url("../icons/arrow-down-square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}

#gridPreview .pathLeft {
    background-image: url("../icons/arrow-left-square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}

#gridPreview .pathRight {
    background-image: url("../icons/arrow-right-square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}

#share {
    color: black;
}