.controlIcon {
    border-radius: 7px;
    border: 1px solid gray;
    background-color: deepskyblue;
    padding: 2px;
    vertical-align: middle;
}

#stepProgress {
    --bs-progress-bg: gray;
    margin-right: 15px;
}