.controlIcon {
    border-radius: 7px;
    border: 1px solid gray;
    background-color: deepskyblue;
    padding: 2px;
    vertical-align: middle;
}

#stepProgressBG {
    --bs-progress-bg: gray;
    margin-right: 15px;
}

#gridPrview .visited {
    background-image: url("./icons/square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}

#gridPrview .pathUp {
    background-image: url("../icons/arrow-up-square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}

#gridPrview .pathDown {
    background-image: url("../icons/arrow-down-square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}

#gridPrview .pathLeft {
    background-image: url("../icons/arrow-left-square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}

#gridPrview .pathRight {
    background-image: url("../icons/arrow-right-square-fill.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
}